@page "/DomainObject"
@using Microsoft.Extensions.Localization
@using global::QuickPuzzle.DomainObject.Localization
@inject IStringLocalizer<DomainObjectResource> L
@{
}
<h1>DomainObject</h1>
<p>@L["SamplePageMessage"]</p>